body
  margin: 0
  padding: 0
  box-sizing: border-box
  background: #131313

div
  display: flex

.main
  flex-direction: column
  justify-content: center
  align-items: center
  width: 95vw
  height: 95vh
  margin: 20px 50px
  border-radius: 15px
  background: #2c2929

  &__board
    perspective: 1000px
    justify-content: space-around
    align-items: center
    flex-wrap: wrap
    width: 800px
    height: 1000px
    margin: 20px
    border-radius: 15px
    background: #424141

  &__scores
    justify-content: space-around
    align-items: center
    width: 300px
    height: 200px
    margin: 40px
    border-radius: 15px
    background: #424141
    color: white

.board__cell
  position: relative
  transition: 0.6s
  transform-style: preserve-3d
  width: 19%
  height: 17%
  margin: 10px
  border-radius: 50%

.cell__front
  position: absolute
  width: 100%
  height: 100%
  backface-visibility: hidden
  background: url("img/paw.png") no-repeat
  background-size: contain
  z-index: 2
  transform: rotateY(0deg)

.cell__back
  position: absolute
  width: 100%
  height: 100%
  backface-visibility: hidden
  transform: rotateY(180deg)
  border-radius: 50%

.toggle-board__cell
  transform: rotateY(180deg)

.disabled
  pointer-events: none

.error
  color: white
  background: #602600
  padding: 10px
  font-size: 28px
  border: 5px solid red
  border-radius: 5px
  text-align: center
  max-height: 40%
  max-width: 70%

.loader
  position: absolute
  align-self: center
  border: 15px solid #f3f3f3
  border-radius: 50%
  border-top: 15px solid #602600
  width: 120px
  height: 120px
  animation: spin 2s linear infinite

@keyframes spin
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
    